{% load static %}
<!-- SIDEBAR -->
<aside class="site-sidebar scrollbar-enabled" data-suppress-scroll-x="true">
  <!-- User Details -->
  <div class="side-user">
    <figure class="side-user-bg" style="background-image: url({% static 'img/user-image-cropped.jpg' %})">
      <img src="{% static 'img/user-image-cropped.jpg' %}" alt="user background" class="d-none">
    </figure>
    <div class="col-sm-12 text-center p-0 clearfix">
      <div class="d-inline-block pos-relative mr-b-10"><span class="avatar-text"></span>
        <figure class="avatar-img thumb-sm mr-b-0 d-none">
          <img src="{{request.user.profile.avatar.url}}" class="rounded-circle" alt="{{request.user.first_name}}">
        </figure>
      </div>
      <!-- /.d-inline-block -->
      <div class="lh-14 mr-t-5 sidebar-collapse-hidden">
        <h6 class="hide-menu side-user-heading">{{request.user.first_name}}</h6><small
          class="hide-menu">{{request.user.last_name}}</small>
      </div>
    </div>
    <!-- /.col-sm-12 -->
  </div>
  <!-- /.side-user -->
  <!-- Sidebar Menu -->
  <nav class="sidebar-nav">
    <ul class="nav in side-menu">
      <li class="menu-item current-page active"><a href="{% url 'dashboard' %}"><i
            class="list-icon material-icons">home</i>
          <span class="hide-menu">Dashboard</span></a>
      </li>
      <li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon material-icons">money</i>
        <span class="hide-menu">Finance</span></a>
      <ul class="list-unstyled sub-menu">
        <li><a href="{% url 'financial_list' %}">Finances</a>
        <li><a href="{% url 'get_income_expenses_view' %}">Income vs Expenses</a>
        </li>
      </ul>
    </li>
      <li class="menu-item"><a href="{% url 'meeting_list' %}"><i class="list-icon material-icons">event</i>
          <span class="hide-menu">Calendar</span></a>
      </li>
      <li class="menu-item"><a href="{% url 'library' %}"><i class="list-icon material-icons">inbox</i>
          <span class="hide-menu">Document Library</span></a>
      </li>
      <li class="menu-item"><a href="{% url 'project_list' %}"><i class="list-icon material-icons">poll</i>
          <span class="hide-menu">Projects</span></a>
      </li>
      <li class="menu-item"><a href="{% url 'events' %}"><i class="list-icon material-icons">drafts</i>
          <span class="hide-menu">Newsletters</span></a>
      </li>
      <li class="menu-item"><a href="{% url 'members_view' %}"><i class="list-icon material-icons">person</i>
          <span class="hide-menu">Contacts</span></a>
      </li>
      <li class="menu-item-has-children"><a href="javascript:void(0);"><i class="list-icon material-icons">settings</i>
          <span class="hide-menu">Settings</span></a>
        <ul class="list-unstyled sub-menu">
          <li><a href="">Account</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.side-menu -->
  </nav>
  <!-- /.sidebar-nav -->
</aside>