{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Scheduled Meetings{% endblock title %}

{% block content %}
<div class="container-fluid">
    <!--Form Modal -->
    <div class="modal modal-blue fade bs-modal-lg-blue" id="meetingModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Meeting</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'meeting_form' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title</label>
                            {{form|crispy}}
                        </div>
                        <div class="text-center mr-b-30">
                            <button class="btn btn-rounded btn-success ripple" type="submit">Add Meeting</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <div class="row page-title clearfix">
        <div class="page-title-left">
            <h6 class="page-title-heading mr-0 mr-r-5">Scheduled Meetings</h6>
            <p class="page-title-description mr-0 d-none d-md-inline-block">My meetings</p>
        </div>
        <!-- /.page-title-left -->
        <div class="page-title-right d-none d-sm-inline-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Schedule Meetings</li>
            </ol>
        </div>
        <!-- /.page-title-right -->
    </div>
    <!-- /.page-title -->
    {% include 'includes/messages.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-12 mr-b-20">{% if request.user.is_staff %}
                <div class="form-group">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#meetingModal" class="btn btn-dark btn-sm">Create
                        Meeting</a>
                </div>{% endif %}
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <a
                        class="btn btn-info btn-sm"
                        href="{% url 'meeting_list' %}?{{ next_month }} "
                    >
                        Next Month >>
                    </a>
                    <a
                        class="btn btn-warning btn-sm"
                        href="{% url 'meeting_list' %}?{{ prev_month }}"
                    >
                        << Previous Month
                    </a> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="widget-list row">
        <div class="col-lg-12 widget-holder">
            <div class="widget-bg">
                <div class="widget-body clearfix">
                    {% with meeting.count as total_meetings %}
                    <h5 class="box-title mr-b-0">
                        {{ total_meetings }} Upcoming Meeting{{ total_meetings|pluralize }}</h5>
                    {% endwith %}
                </div>
                <div class="">
                    <div class="alert alert-light">
                        {{ calendar|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}