{% extends 'base_auth.html' %} {% load static %} {% block title %}Login
{% endblock %} {% block content %}
<div
  class="container-min-full-height d-flex justify-content-center align-items-center"
>
  <div class="login-center">
    <div class="navbar-header text-center mt-2 mb-4">
      <a href="/">
        <img src="{% static 'img/Logo_web.png' %}" alt="logo" />
      </a>
    </div>
    <!-- /.navbar-header -->
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %} {% include 'includes/messages.html' %}
      <div class="form-group">
        <label for="example-email">Username</label>
        <input
          type="text"
          placeholder="username"
          class="form-control form-control-line"
          name="username"
          id="usernameField"
        />
      </div>
      <div class="form-group">
        <label for="example-password">Password</label>
        <input
          type="password"
          placeholder="password"
          id="passwordField"
          name="password"
          class="form-control form-control-line"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600"
          type="submit"
        >
          Login
        </button>
      </div>
      <div class="form-group no-gutters mb-0">
        <div class="col-md-12 d-flex">
          <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
            <label class="d-flex">
              <input type="checkbox" />
              <span class="label-text">Remember me</span>
            </label>
          </div>
          <a
            href="{% url 'password_reset' %}"
            id="to-recover"
            class="my-auto pb-2 text-right"
            ><i class="material-icons mr-2 fs-18">lock</i> Forgot Password?</a
          >
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.form-group -->
    </form>
    <!-- /.form-material -->
    <footer class="col-sm-12 text-center">
      <hr />
      <p>
        Product powered by
        <a href="https://qrair.co.za" class="text-primary m-l-5"
          ><b>QR Air</b></a
        >
      </p>
    </footer>
  </div>
  <!-- /.login-center -->
</div>
<!-- /.d-flex -->
{% endblock %}
