{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="row container-min-full-height align-items-center">
    <div class="col-10 ml-sm-auto col-sm-6 col-md-4 ml-md-auto login-center login-center-mini mx-auto">
        <div class="navbar-header text-center mt-2 mb-4">
            <a href="/">
                <img src="{% static 'img/hggc-logo.png' %}" alt="logo" />
              </a>
              <a href="/">
                <img src="{% static 'img/Seraphim-logo.png' %}" alt="logo" />
              </a>
        </div>
        <!-- /.navbar-header -->
        <form class="form-material" action="{% url 'password_reset' uidb64 token %}" method="POST">
            {% csrf_token %}
            {% include 'includes/messages.html' %}
            <p class="text-center text-muted">Enter your new password</p>
            <div class="form-group no-gutters">
                <label for="example-password">Password</label>
                <input type="password" placeholder="password" id="passwordField" name="password"
                    class="form-control form-control-line">
            </div>
            <div class="form-group">
                <label for="example-password">Password</label>
                <input type="password" placeholder="password2" id="passwordField" name="password"
                    class="form-control form-control-line">
            </div>
            <div class="form-group mb-5">
                <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600"
                    type="submit">Submit</button>
            </div>
        </form>
    </div>
    <!-- /.login-right -->
</div>
<!-- /.row -->

{% endblock %}