{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Newletters{% endblock %}
{% block scripts %}

{% endblock scripts %}
{% block content %}
<div class="container-fluid">
    <!--Form Modal -->
    <div class="modal modal-blue fade bs-modal-lg-blue" id="newsModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Newsletter</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            {{form|crispy|safe}}
                        </div>
                        <div class="text-center mr-b-30">
                            <button class="btn btn-rounded btn-success ripple" type="submit">Add Meeting</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <div class="row page-title clearfix">
        <div class="page-title-left">
            <h6 class="page-title-heading mr-0 mr-r-5">Newsletters</h6>
            <p class="page-title-description mr-0 d-none d-md-inline-block">Subscribers</p>
        </div>
        <!-- /.page-title-left -->
        <div class="page-title-right d-none d-sm-inline-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Newletters</li>
            </ol>
        </div>
        <!-- /.page-title-right -->
    </div>
    <!-- /.page-title -->
    {% include 'includes/messages.html' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-12 mr-b-20">{% if request.user.is_staff %}
                <div class="form-group">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#newsModal" class="btn btn-dark btn-sm">Create
                        Newsletter</a>
                </div>{% endif %}
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="widget-list row">
        <div class="col-lg-12 widget-holder">
            {% if obj %}
            <div class="widget-bg">
                
                </div>
                <div class="">
                    {% for item in obj %}
                    <div class="alert alert-light">
                        <h6 class="box-title mr-b-0">{{item.subject}}</h6>
                        <p class="text-muted">{{item.contents|safe}}</p>
                        <p class="text-muted">Created: {{item.created_at|date}}</p>
                        <a href="{% url 'send_notification' item.pk %}"
                            class="btn btn-sm px-3 btn-rounded btn-success text-uppercase fw-600 fs-11">Send Newsletter</a>
                        <hr />
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            {% else %}
            <div class="alert alert-light">
                <a href="" class="text-center" style="text-decoration:none; color:#DC3545;">No Newsletters available</a>
            </div>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}